[ng-cloak], .ng-cloak {
    display: none;
}

h1, main, footer {
    text-align: center;
    color: $themeFontColor;
}

.contact {
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}
