h1, .contact {
    text-align: center;
}
main {
    margin: auto $tableMargin;
}
.inventory {
    width: $tableWidth;
    text-align: center;
}

.sale {
    vertical-align: middle;
}

.contact {
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}
