h1, main, footer {
    text-align: center;
    color: $themeFontColor;
}
.inventory {
    margin: auto $tableMargin;
    width: $tableWidth;
    text-align: center;
}

.contact {
    h4 {
        margin-bottom: 0;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}

thead {
    background-color: $tableHeadColor;
    font-size: $InventoryHeadSize;
    font-weight: bold;
}
tbody {
    tr:nth-child(odd) {
        background-color: $zebraColor1;
    }
    tr:nth-child(even) {
        background-color: $zebraColor2;
    }
}

.itemName {
    font-weight: bold;
}

.sale {
    float: left;
}
