thead {
    background-color: $tableHeadColor;
    font-size: $InventoryHeadSize;
    font-weight: bold;
}

tbody {
    tr:nth-child(odd) {
        background-color: $zebraColor1;
    }
    tr:nth-child(even) {
        background-color: $zebraColor2;
    }
}

.inventory {
    margin: auto $tableMargin;
    width: $tableWidth;
    text-align: center;
}

.itemName {
    font-weight: bold;
}

.sale {
    background: url(../images/sale.png);
    background-repeat: no-repeat;
    background-size: contain;
}
