<!DOCTYPE html>
<html lang='en' ng-app='shopular'>
    <head>
        <meta charset="utf-8">
        <title>Shopular</title>

        <meta name='description' content='Inventory at the store Shopular'>
        <meta name='author' content='Samina Chhatwal'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link rel='stylesheet' type='text/css' href='css/styles.css'>
    </head>
    <body>

        <header>
            <h1>Shopular Store Inventory</h1>
        </header>

        <main ng-controller='InventoryController as stock'>
            <form name='addItem' ng-submit='stock.addItem(stock.newItem)' novalidate>
                <h2>Add New Item</h2>
                <div>
                    <label for='itemName'>Name</label>
                    <p ng-show='addItem.itemName.$touched && !addItem.itemName.$valid'>
                        Please enter the item name to add to inventory
                    </p>
                    <input id='itemName' type='text' name='itemName' placeholder='Item Name'
                                        required ng-model='stock.newItem.name'>
                </div>
                <div>
                    <label for='itemPrice'>Price</label>
                    <p ng-show='addItem.itemPrice < 0'>Item price cannot be less than $0.</p>
                    <input id='itemPrice' type='number' name='itemPrice' placeholder='Item Price'
                                        min='0' ng-model='stock.newItem.price'>
                </div>
                <div>
                    <label for='itemDiscount'>Discount</label>
                    <p ng-show='addItem.itemDiscount < 0'>Item discount cannot be less than $0.</p>
                    <input id='itemDiscount' type='number' name='itemDiscount' placeholder='Item Discount'
                                        min='0' ng-model='stock.newItem.discount'>
                </div>
                <div>
                    <label for='itemQuantity'>Quantity</label>
                    <p ng-show='addItem.itemQuantity.$touched && !addItem.itemQuantity.$valid'>
                        Item quantity must be at least 1 item
                    </p>
                    <input id='itemQuantity' type='number' name='itemQuantity' placeholder='Item Quantity'
                                        min='1' required ng-model='stock.newItem.quantity'>
                </div>
                <div>
                    <label for='itemColor'>Color</label>
                    <input id='itemColor' type='text' name='itemColor' placeholder='Item Color'
                                        ng-model='stock.newItem.color'>
                </div>
                <input type='submit' value='Add Item'>
            </form>

            <section>
                <h2>Inventory List</h2>
                <table ng-cloak class='inventory'>
                    <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Color
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='item in stock.inventory'>
                            <td class='itemName'>
                                <img ng-class='{sale: item.discount > 0}' ng-show='item.discount > 0' src='images/sale.png'>
                                {{item.name}}
                            </td>
                            <td>
                                {{stock.totalPrice(item) | currency: '$'}}
                            </td>
                            <td>
                                {{item.quantity}}
                            </td>
                            <td>
                                {{item.color}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

        <footer class='contact'>
            <h3>Contact Us:</h3>
            <ul>
                <li>Phone: (746)785-2700</li>
                <li>Email: shopular@gmail.com</li>
            </ul>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>
