<!DOCTYPE html>
<html lang='en' ng-app='shopular'>
    <head>
        <meta charset="utf-8">
        <title>Shopular</title>

        <meta name='description' content='Inventory at the store Shopular'>
        <meta name='author' content='Samina Chhatwal'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link rel='stylesheet' type='text/css' href='css/styles.css'>
    </head>
    <body>

        <header>
            <h1>Shopular Store Inventory</h1>
        </header>

        <main ng-cloak ng-controller='InventoryController as stock'>

            <form name='addItem' ng-submit='addItem.$valid && stock.addItem(stock.newItem)' novalidate>
                <h2>Add New Item to Inventory</h2>

                <section class='invalidInputMsgs'>
                    <p ng-show='addItem.itemName.$touched && !addItem.itemName.$valid'>
                        Please enter the item name to add to inventory
                    </p>
                    <div ng-show='addItem.itemPrice.$touched && !addItem.itemPrice.$valid'>
                        <p ng-show='addItem.itemPrice.$error.min'>
                            Item price cannot be less than $0.
                        </p>
                        <p ng-show='addItem.itemPrice.$error.required'>
                            Must input an item's price.
                        </p>
                    </div>
                    <p ng-show='addItem.itemDiscount.$error.min'>
                        Item discount cannot be less than $0.
                    </p>
                    <div ng-show='addItem.itemQuantity.$touched && !addItem.itemQuantity.$valid'>
                        <p ng-show='addItem.itemQuantity.$error.min'>
                            Item quantity cannot be less than 0.
                        </p>
                        <p ng-show='addItem.itemQuantity.$error.required'>
                            Must input an item's quantity.
                        </p>
                    </div>
                </section>

                <div class='itemProperty'>
                    <label for='itemName'>Name</label>
                    <input id='itemName' name='itemName' placeholder='Item Name'
                                        type='text' required ng-model='stock.newItem.name'>
                </div>
                <div class='itemProperty'>
                    <label for='itemPrice'>Price</label>
                    <input id='itemPrice' name='itemPrice' placeholder='Item Price' type='number'
                                                        required min='0' ng-model='stock.newItem.price'>
                </div>
                <div class='itemProperty'>
                    <label for='itemDiscount'>Discount</label>
                    <input id='itemDiscount' name='itemDiscount' placeholder='Item Discount' type='number'
                                                        min='0' ng-model='stock.newItem.discount'>
                </div>
                <div class='itemProperty'>
                    <label for='itemQuantity'>Quantity</label>
                    <input id='itemQuantity' name='itemQuantity' placeholder='Item Quantity' type='number'
                                                        required min='0' ng-model='stock.newItem.quantity'>
                </div>
                <div class='itemProperty'>
                    <label for='itemColor'>Color</label>
                    <input id='itemColor' type='text' name='itemColor' placeholder='Item Color'
                                                        ng-model='stock.newItem.color'>
                </div>

                <input type='submit' value='Add Item'>
            </form>

            <section>
                <h2>Inventory List</h2>
                <table class='inventory'>
                    <thead>
                        <tr>
                            <th ng-click='stock.changeSorting("name")'>Item</th>
                            <th ng-click='stock.changeSorting("price - discount")'>Price</th>
                            <th ng-click='stock.changeSorting("quantity")'>Quantity</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='item in stock.inventory | orderBy: stock.sortType:stock.sortReverse'>
                            <td ng-class='{itemName: true, sale: item.discount > 0}'>
                                {{item.name}}
                            </td>
                            <td>
                                {{stock.totalPrice(item) | currency: '$'}}
                            </td>
                            <td>
                                {{item.quantity}}
                            </td>
                            <td>
                                {{item.color}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

        </main>

        <footer class='contact'>
            <h3>Contact Us:</h3>
            <ul>
                <li>Phone: (746)785-2700</li>
                <li>Email: shopular@gmail.com</li>
            </ul>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>
